* { margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; }
canvas { display: block; }

body {
	background: #000;
	color: #fff;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;	

}

h1 {
	font-size: 30px;
}

p {
	margin: 0 20px;
}

.bgm0 {
    animation: prompt 3s linear 0s infinite;
    }
    @-webkit-keyframes prompt{
    0%{background:#33CCFF;}
    25%{background:#3399FF;}
    50%{background:#3366FF;}
    75%{background:#3399FF;}
    100%{background:#33CCFF;}
    }
.bgm22 {
	  animation: prompt 3s linear 0s infinite;
    }
    @-webkit-keyframes prompt{
    0%{background:#00FF00;}
    25%{background:#00CC00;}
    50%{background:#009900;}
    75%{background:#00CC00;}
    100%{background:#00FF00;}
}
.a {
	margin-bottom: 20px;
}

.b {
	margin-top: 20px;
}
a {
	color: #fff;
	text-decoration: none;
}

#zailai{
	margin-top: 22px;
}
a:hover {
	text-decoration: underline;
}

a.button {
	background: #185da8;
	border-radius: 5px;
	display: inline;
	font-size: 30px;
	margin: 20px auto;
	padding: 10px;
	width: 200px;
}

a.button:hover {
	background: #2488f5;
	color: #fff;
	text-decoration: none;
}

#gameComplete {
		background: black;

}

#game {
	height: 490px;


	position: relative;

	width: 1000px;
}


#gameUI {
	height: 490px;
	position: absolute; /* Places UI on top of the canvas */
	width: 1000px;
}


#gameIntro, #gameComplete {
	/* background: rgba(0, 0, 0, 0.5); */
	margin-top: 100px;
	padding: 40px 0;
	text-align: center;
}

#gameStats {
	font-size: 14px;
	margin: 11px 0;
}

#gameStats .gameReset {
	margin: 20px 20px 0 0;
	position: absolute;
	right: 0;
	top: 0;
}
#gameCanvas {
/*  	width: 100%;
	height: 100%; */
}